:root {
	--rojo: #e50914;
	--blanco: white;
	--gris: #303030;
	--gris-f: #757575;
	--negro: black;
	/* Tipografía */
	--tipo-principal:"Netflix Sans Regular";
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--negro);
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 16px;
}


/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 60px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- contenedor carrousel Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

.contenedor-carousel .icon {
	display: flex;
}

.contenedor-carousel .icon i{
	color: red;
	padding: 0.5em;
}

.filas{
    position: relative;
    width: 100%;
    bottom: -590px;
    left: 0;
    padding-left: 4%;
    margin-bottom: 3vw;
    user-select: none;
    overflow: hidden;
    transform: translateZ(0);
}
.tituloFilas{
    position: relative;
    padding: 6px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
#siguiente{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 15.873vw;
    width: 7.14286%;
    border-radius: 5px;
    background-color: inherit;
    cursor: pointer;
    user-select: none;
    opacity: 100;
    border: none;
}
#atras{
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 15.873vw;
    width: 7.14286%;
    border-radius: 5px;
   background-color: inherit;
    cursor: pointer;
    user-select: none;
    opacity: 100;
    border: none;
     
    
    
   
}
#atras i{
    color: white;
    font-size: 50px;
    
}
#siguiente i{
    color: white;
    font-size: 50px;
}


.resumen{
    position: relative;
    left: 1%;
    margin-top: 2%;
    width: auto;
    border-radius: 4px;
    
    background-color: black;
    transition: width 1s, height 1s;
    
}
#video{
    width: 350px;
    display: none;
    border-radius: 4px;

}


.otrainfo{
    display: grid;
    color: white;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    
}
.botones{
    width: 100%;
   
display: flex;
position: relative
}

.botones i{
    width: auto;
    border-radius: 50%;
    padding: 5px;
    color: #808080;
    border: 1px solid #808080;
    
}
#play  {
    background-color: white;
    color: black;
    border: none;
}
.solo{
    display: flex;
    position: absolute;
    right: 4%;
}
.calificaciones{
    margin-top: 20px;
    display: flex;
    width: 100%;
 
}
.calificaciones p{
   
    margin-left: 1%;
    width: 100%;
}
.categorias ul{
display: flex;
justify-content: center;

}

.categorias ul li{
    width: 33.3%;
}
.carrusel{
    display: flex;
   
    flex-direction: wrap;
    flex-wrap: nowrap;
}
.carrsulFilas{
    width: 100%;
    overflow: hidden;
}
.horizontal{
    overflow: hidden;
}
.carrusel{
    display: flex;
}
.fondos{
    width: 100%;
    border-radius: 4px;
}
.fondos img{
    border-radius: 4px;
    width: 274px;
    
}
.infoResumida{
    background-color: black;
    color: white;
    position: relative;
    margin-left: 0.5%;
    border-radius: 4px;
    width: 20%;
    transition: width 1s, height 1s;
    font-size: 16px;
}
#video{
    width: 350px;
    display: none;
    
}
/* APARECER LA INFORMACION */
.infoResumida:hover{
    width: 350px;
    height: 350px;
    z-index: 1;
    .informacion{
        display: grid;
    }
    #video{
        display: grid;
    }
    #fotofondo{
        display: none;
    }
}
.informacion{
    display: none;
}
.primeros i{
    border: 1px solid #808080;
    border-radius: 50%;
    padding: 5px;
}
.ultimo{
    position: absolute;
    right: 4%;
}
.ultimo i{
    border: 1px solid #808080;
    border-radius: 50%;
    padding: 5px;
    
}
.botones{
    margin-top: 2%;
    display: flex;
    padding-left: 2%;
}

.calificaciones{
    margin-top: 2%;
    display: flex;
    
}
.calificaciones div{
    margin-left: 7%;
}
.categorias{
    margin-top: 2%;
}
.categorias ul{
    display: flex;
    
}
.categorias ul li{
    margin-left: 7%;
    
}

    .redes{
        background-color: #141414;
        color: white;
        margin-left: 10%;
        margin-right: 15%;
    }
    .redes svg{
       width: 24px;
    }
    .columnasfooter p{
        margin-top:3%;
    }
   
    .f1{
        margin-left: 6%;
    }