/* ---- ----- ----- Pie de pagina ----- ----- ----- */

.footer {
  margin: 3em 0 0;
  padding: 8vh 0;
  display: block;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-top: 40.4em solid ;
}
.footer .social .icon .social-link {
color: var(--blanco); 
 padding: 45px;
}
.info .texto ul{
  display: inline-block;
  flex-wrap: wrap;
  margin: 0 0 14px; 
  background-color: aqua;

}

