/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	.logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}



@media (min-width:400px) {
	.info{
		grid-template-columns: 1fr 1fr;
	}
  }
  @media (min-width:768px) {
	.info{
		grid-template-columns: 1fr 1fr 1fr;
	}
  }
  @media (min-width:992px) {
	.info{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
  }